<div class="site-brand-container ml-2 mb-2">
  <!-- 
    NOTE: 
    Ignore the VS Code web accessibility error:
      Provide a descriptive text in between the tags
    It is not seeing the EJS template tag.
  --> 
  {{#if isError}}
    
      <h1 class="logo-text text-center">
        <i class="far fa-surprise"></i>
        Oops...
      </h1>    
  {{else}} 

  <!-- 
    Note: BS5.x changes in sizing, etc. to account for RTL. use start/end
    https://getbootstrap.com/docs/5.1/utilities/spacing/
    s - (start) for classes that set margin-left or padding-left in LTR, margin-right or padding-right in RTL
    e - (end) for classes that set margin-right or padding-right in LTR, margin-left or padding-left in RTL
  -->

  <a href="/" class="d-flex">  
    <img src="/img/sns_logo-min.png" width="60px" height="60px" alt="logo" aria-hidden="true" class="pe-1 me-1 align-middle">
    <div class="flex-column">
      <h1 class="logo-text">{{ github.githubName }}</h1>
      <h2 class="job-title">{{ basics.jobTitle }}</h2>
    </div>
  </a>    
  </div>
{{/if}}  
</div>

{{#unless isError}}
  
  <figure class="quote-container mb-2">
    <q>{{ basics.quote.text }} </q>
    <figcaption>&mdash;{{ basics.quote.author }}  <cite><a href="{{ basics.quote.citeHref }}">{{ basics.quote.citeName }} </a></cite>
    </figcaption>
  </figure>

  <nav class="nav-container me-2 mb-2">
    <ul class="nav-list">
      <li>
        <a href="#repos">
          <i class="nav-icon fas fa-fw fa-code-branch"></i>
          <span class="nav-text">Repos</span>
        </a>
      </li>
      <li>
        <a href="#skills">
          <i class="nav-icon fas fa-fw fa-tools"></i>
          <span class="nav-text">Skills</span>
        </a>
      </li>
      <li>
        <!-- NOTE: if get too much spam, enhance with a contact form w/ captcha or use a domain email address where server has better filtering -->
        <a href="mailto:{{ basics.email }}">
          <i class="nav-icon fas fa-fw fa-fw fa-envelope"></i>
          <span class="nav-text">Contact</span>
        </a>
      </li>
      <!-- LinkedIn profile is public, but LinkedIn detects IP and requires login so it can force recruiters to sign in. --> 
      {{#each basics.profiles as | profile |}}
        <li>        
            <a href="{{ profile.url }}" target="_blank" rel="noreferrer noopener">
              <i class="nav-icon fab fa-fw fa-{{toLowerCaseHbs profile.network }} "></i>
              <span class="nav-text">{{ profile.network}}</span>
            </a>
        </li>
      {{/each}}
    </ul>
  </nav>

{{/unless}}