<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>
  {{ siteName }}
</title>

<!-- SEO -->
<!-- Standard -->
<meta name="description" content="{{ basics.about }}">
<meta name="keyword" content="{{basics.keywords}}">

<!-- Open Graph -->
<meta property="og:title" content="{{ siteName }}">
<meta property="og:image" content="/img/simplenotsimpler-screenshot.png">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ basics.about }}">
<meta property="og:url" content="https://simplenotsimpler.com">
<meta name="twitter:card" content="summary_large_image">

<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">

<!-- Although not using BS4 classes much, overall styling is used -->
<!-- Bootstrap 4.x -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
  integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<!-- site css -->
<link rel="stylesheet" href="/css/style.css">
<!-- 
  https://stackoverflow.com/questions/15463199/how-to-set-custom-favicon-in-express
  answered Apr 7 '17 at 5:58
  DaafVader
-->
<link rel="icon" href="/img/favicon.ico">

<!-- errors css -->
<!-- use locals to check that variable passed -->
<!-- https://stackoverflow.com/questions/5372559/what-is-the-proper-way-to-check-for-existence-of-variable-in-an-ejs-template-us -->
{{#if isError }}
  <link rel="stylesheet" href="/css/error.css">
{{/if}}